In [5]:
# 모듈 로딩
import pandas as pd

# 파일 로딩
df=pd.read_csv('hollys_branches.csv', encoding='utf-8')
df

,Unnamed: 0,매장이름,"위치(시,구)",주소,전화번호
0,0,종각역점,서울 종로구,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,1,부산아트몰링영풍문고점,부산 사하구,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,2,광명GIDC점,경기 광명시,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,3,이천점,경기 이천시,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,4,미사가로수길점,경기 하남시,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
...,...,...,...,...,...
525,525,신림점,서울 관악구,서울특별시 관악구 신림로 353-1,02-877-0019
526,526,태평로점,서울 중구,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
527,527,이태원점,서울 용산구,서울특별시 용산구 이태원로 179,02-749-8752
528,528,부산서면본점,부산 부산진구,"부산광역시 부산진구 동천로 73, DS타워 1~2층 (부전동 부전동 169-1) 할리스",051-819-9117
529,529,신촌점,서울 서대문구,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [6]:
# 'Unnamed: 0' 컬럼 삭제 
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
# 데이터 프레임 확인
df

,매장이름,"위치(시,구)",주소,전화번호
0,종각역점,서울 종로구,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,부산아트몰링영풍문고점,부산 사하구,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,광명GIDC점,경기 광명시,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,이천점,경기 이천시,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,미사가로수길점,경기 하남시,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
...,...,...,...,...
525,신림점,서울 관악구,서울특별시 관악구 신림로 353-1,02-877-0019
526,태평로점,서울 중구,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
527,이태원점,서울 용산구,서울특별시 용산구 이태원로 179,02-749-8752
528,부산서면본점,부산 부산진구,"부산광역시 부산진구 동천로 73, DS타워 1~2층 (부전동 부전동 169-1) 할리스",051-819-9117
529,신촌점,서울 서대문구,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [8]:
# 값 입력받기
n=input('검색할 매장의 도시를 입력하세요: ').split()

# 값에 대한 행 추출
value=[]
for i in df.index:
    sr=df['주소'].str.split()
    if (n[0] in sr[i][0]) and (n[1] in sr[i][1]):
        value.append(df.iloc[i])

# 추출한 행 데이터 프레임 형성
df2=pd.concat(value,axis=1, ignore_index=True)
df2=df2.T
df2

# 결과 출력
print('--------------------')
print(f'검색된 매장 수: {df2.shape[0]}')
print('--------------------')

for i in df2.index:
    print("[{:>3}]: ['{}', '{}']".format(i+1,df2.iloc[i]['주소'],df2.iloc[i]['전화번호']))

검색할 매장의 도시를 입력하세요: 대구 북구
--------------------
검색된 매장 수: 6
--------------------
[  1]: ['대구광역시 북구 동화천로 229 (연경동) 1층~2층', '053-982-6877']
[  2]: ['대구광역시 북구 대학로 17길 3 (산격동 1393-11) 할리스 B1~3층', '053-951-9990']
[  3]: ['대구광역시 북구 구암로 59 비전스퀘어 1,2층 .', '053-324-6122']
[  4]: ['대구광역시 북구 침산남로 157 (침산동) .', '053-353-5544']
[  5]: ['대구 북구 성북로 36,2층 601,602,603,604 473-3, 침산초등학교 맞은편', '053-353-5412']
[  6]: ['대구광역시 북구 동천로 125 (동천동) .', '053-321-0099']