#### 과제 1

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

# ---------------------------------------------
# input : 페이지 number
# output : 해당 페이지내 매장 정보 데이터 프레임
# ---------------------------------------------
def add_center_page(page_num) :
    HOLLYS_STORE_URL = f'https://www.hollys.co.kr/store/korea/korStore2.do?pageNo={page_num}&sido=&gugun=&store='
    html = urlopen(HOLLYS_STORE_URL)
    soup = BeautifulSoup(html, 'html.parser')
    
#     표를 담은 tbody와 그 안의 tr 들을 읽어오기
    tbody = soup.find('tbody')
    trs = tbody.select('tr')
    
#     매장의 정보를 저장할 list
    center_city_list, center_name_list, center_loc_list, center_call_list  = [], [], [],[]
    
#     표 내의 10개의 행에 대해서 반복, 리스트에 정보 추가
    for tr in trs:
        center_city_list.append(tr.find('td', class_ = 'noline center_t').text)
        center_name_list.append(tr.select_one('td > a').text)
        center_loc_list.append(tr.select('td > a')[1].text)
        center_call_list.append(tr.select('td')[-1].text)
    
#     해당 페이지 내의 매장에대한 정보를 담은 데이터 프레임 생성
    center_df_page = pd.DataFrame({
        '매장이름':center_name_list, 
        '위치(시,구)': center_city_list,
        '주소': center_loc_list,
        '전화번호': center_call_list
        })
    
    return center_df_page

In [2]:
# 빈 데이터 프레임 생성
total_center = pd.DataFrame(columns = add_center_page(1).columns)


for i in range(1, 54):
    print(f'{i} page 읽어 오는중...')
    
#     1 ~ 53 페이지의 데이터 프레임을 추가
    total_center = pd.concat([total_center, add_center_page(i)]).reset_index(drop = True)
    
total_center

1 page 읽어 오는중...
2 page 읽어 오는중...
3 page 읽어 오는중...
4 page 읽어 오는중...
5 page 읽어 오는중...
6 page 읽어 오는중...
7 page 읽어 오는중...
8 page 읽어 오는중...
9 page 읽어 오는중...
10 page 읽어 오는중...
11 page 읽어 오는중...
12 page 읽어 오는중...
13 page 읽어 오는중...
14 page 읽어 오는중...
15 page 읽어 오는중...
16 page 읽어 오는중...
17 page 읽어 오는중...
18 page 읽어 오는중...
19 page 읽어 오는중...
20 page 읽어 오는중...
21 page 읽어 오는중...
22 page 읽어 오는중...
23 page 읽어 오는중...
24 page 읽어 오는중...
25 page 읽어 오는중...
26 page 읽어 오는중...
27 page 읽어 오는중...
28 page 읽어 오는중...
29 page 읽어 오는중...
30 page 읽어 오는중...
31 page 읽어 오는중...
32 page 읽어 오는중...
33 page 읽어 오는중...
34 page 읽어 오는중...
35 page 읽어 오는중...
36 page 읽어 오는중...
37 page 읽어 오는중...
38 page 읽어 오는중...
39 page 읽어 오는중...
40 page 읽어 오는중...
41 page 읽어 오는중...
42 page 읽어 오는중...
43 page 읽어 오는중...
44 page 읽어 오는중...
45 page 읽어 오는중...
46 page 읽어 오는중...
47 page 읽어 오는중...
48 page 읽어 오는중...
49 page 읽어 오는중...
50 page 읽어 오는중...
51 page 읽어 오는중...
52 page 읽어 오는중...
53 page 읽어 오는중...

,매장이름,"위치(시,구)",주소,전화번호
0,종각역점,서울 종로구,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,부산아트몰링영풍문고점,부산 사하구,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,광명GIDC점,경기 광명시,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,이천점,경기 이천시,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,미사가로수길점,경기 하남시,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
...,...,...,...,...
524,신림점,서울 관악구,서울특별시 관악구 신림로 353-1,02-877-0019
525,태평로점,서울 중구,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
526,이태원점,서울 용산구,서울특별시 용산구 이태원로 179,02-749-8752
527,부산서면본점,부산 부산진구,"부산광역시 부산진구 동천로 73, DS타워 1~2층 (부전동 부전동 169-1) 할리스",051-819-9117
528,신촌점,서울 서대문구,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [3]:
total_center.to_csv('hollys_branches.csv', encoding='utf-8', index=False)