In [1]:
import pandas as pd
import pymysql

In [2]:
# MySQL과 Python 연동하기
conn = pymysql.connect(host='localhost', user='root', password='0000', 
db = 'sakila', charset='utf8')

cur = conn.cursor() # 2) 커서 객체 생성
cur.execute('select	* from language') # 3) 쿼리 실행
rows = cur.fetchall() # 4) fetchall() : 모든 검색 데이터 가져오기
print(rows) # for row in rows: print(row)와 동일
language_df = pd.DataFrame(rows) # DataFrame 형태로 변환
print(language_df)

cur.close() # 5) 커서 객체 닫기
conn.close() # 6) DB 연결 닫기

((1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)), (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)), (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)), (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)), (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)), (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19)))
   0         1                   2
0  1   English 2006-02-15 05:02:19
1  2   Italian 2006-02-15 05:02:19
2  3  Japanese 2006-02-15 05:02:19
3  4  Mandarin 2006-02-15 05:02:19
4  5    French 2006-02-15 05:02:19
5  6    German 2006-02-15 05:02:19

In [3]:
# cursor() 함수
    # cursor 객체 생성
    # cursor: 쿼리문에 의해 반환되는 결과값을 저장하는 공간

# cursor.execute(‘쿼리문장’, args=None) 함수
    # 작성한 쿼리를 실행

# fetch 관련 함수
    # fetchall(): 모든 데이터를 한 번에 가져옴
    # fetchone(): 한 번 호출에 하나의 행만 가져옴
    # fetchmany(n): n개 만큼의 데이터를 가져옴

# commit() 함수
    # 데이터를 추가, 수정, 삭제 등의 작업을 수행한 다음에 실행

# close() 함수
    # MySQL과의 연결 종료

In [4]:
# MySQL과 Python 연동하기
# 복잡한 쿼리 실행
    # inner join 실행
conn = pymysql.connect(host='localhost', user='root', password='0000',
db='sakila', charset='utf8')

cur = conn.cursor()
query = """
select c.email
from customer as c
    inner join rental as r
    on c.customer_id = r.customer_id
where date(r.rental_date) = (%s)"""  # => 실제 쿼리와 동일한 문자열 전달(따옴표 주의)

cur.execute(query, ('2005-06-14'))
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

('JEFFERY.PINSON@sakilacustomer.org',)
('ELMER.NOE@sakilacustomer.org',)
('MINNIE.ROMERO@sakilacustomer.org',)
('MIRIAM.MCKINNEY@sakilacustomer.org',)
('DANIEL.CABRAL@sakilacustomer.org',)
('TERRANCE.ROUSH@sakilacustomer.org',)
('JOYCE.EDWARDS@sakilacustomer.org',)
('GWENDOLYN.MAY@sakilacustomer.org',)
('CATHERINE.CAMPBELL@sakilacustomer.org',)
('MATTHEW.MAHAN@sakilacustomer.org',)
('HERMAN.DEVORE@sakilacustomer.org',)
('AMBER.DIXON@sakilacustomer.org',)
('TERRENCE.GUNDERSON@sakilacustomer.org',)
('SONIA.GREGORY@sakilacustomer.org',)
('CHARLES.KOWALSKI@sakilacustomer.org',)
('JEANETTE.GREENE@sakilacustomer.org',)

In [5]:
# 데이터 추가: INSERT
    # execute() 예제
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000',
db='testdb', charset='utf8')

curs = conn.cursor()
sql = """insert into customer(name, category, region)
            values (%s, %s, %s)"""

curs.execute(sql, ('홍길동', 1, '서울'))
curs.execute(sql, ('이연수', 2, '서울'))

conn.commit()
conn.close()

In [6]:
# executemany()
    # 여러 개의 tuple 데이터를 처리

conn	=	pymysql.connect(host='localhost',	user='root',	password='0000',
db='testdb',	charset='utf8')

curs = conn.cursor()
data= (
    ('홍진우',	1,	'서울'),
    ('강지수',	2,	'부산'),
    ('김청진',	1,	'서울'),
)
sql = """insert into customer(name, category, region)
            values (%s, %s, %s)"""
curs.executemany(sql, data)
conn.commit()
conn.close()

In [7]:
# UPDATE, DELETE

import	pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='testdb',	charset='utf8')

curs = conn.cursor()

sql = """update	customer set region	= '서울특별시' where region	= '서울'"""
curs.execute(sql)

sql = "delete from customer where id=%s"
curs.execute(sql,	6)

conn.commit()
conn.close()

OperationalError: (1054, "Unknown column 'id' in 'where clause'")